# build folder
/target

# class files
*.class

# executable files
*.exe
*.sh

# log folder
/log

# package files
*.jar

# settings files
/.settings
.classpath
.project

# vm crash logs
hs_err_pid*

# temporary files
.fuse_hidden*
